@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is sample About page</p>
<p>Navigate to <a href="http://localhost:26063/registration/dist/index.html">registration</a> of a new subsribtion in angular
    
    
    </p>
